#dataTable
{
	border-color: #000000; 
	text-align: center;
}
#timelog-th
{
	border-color: #000000; 
	text-align: center;
}
#timelog-td
{
	border-color: #000000; 
	text-align: center;
}
#timelog-tr
{
	background-color: #ff4f73; 
	color: #ffffff;
}

#ipTable
{
	text-align: center;
}
#ip-th
{
	text-align: center;
}
#timeLogTable
{
	border-color: #000000; 
	text-align: center;	
}